
=render 'nav', {active: 0}

%h2
  %i.fa.fa-list-alt
  %span Order Listing
  %span.loading-icon
    =image_tag "ajax-loader.gif"

#order-data{data: { url: listing_orders_path }}
%h3
  Total sales: #{format_price Order.total_sales}
