
body {
  font-family: 'PT Sans', 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 60px;
}

.navbar {
  a.navbar-brand {
    padding: 0 16px;
    img {
      width: 48px;
      height: 48px;
    }
  }
  li{
    font-size: 20px;
  }
}
